//- - let posts = {'Qué es la Quimica': 'Definicion e intoducción', 'Historia de la Química': 'Un Pequeño recorrido por la historia'};
- let posts = ['Qué es la Quimica', 'Historia de la Química', 'La Materia', 'Las Mezclas', 'Conservación de la Materia', 'Proporciones'];
- let subTitles = ['Definición e intoducción', 'Un pequeño recorrido por la historia', 'Qué es y sus propiedades', 'Qué son y sus características', 'Y como Lomonósov-Lavoisier cambiarion el mundo', 'Definidas y múltiples'];