doctype html
html(lang='en')

	head

		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description' content='')
		meta(name='author' content='')

		include includes/title.pug

		link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

		include includes/css.pug

	body

		include includes/navbar.pug

		// Page Header
		header.masthead(style="background-image: url('assets/img/post-bg.jpg')")
			.container.position-relative.px-4.px-lg-5
				.row.gx-4.gx-lg-5.justify-content-center
					.col-md-10.col-lg-8.col-xl-7
						.post-heading
							h1 Conservación de la Materia
							h2.subheading Y como Lomonósov-Lavoisier cambiaron el mundo
							span.meta

								a(href='#!') Dylan Buitrago 
								| en Noviembre, 2022

		// Post Content
		article.mb-4
			.container.px-4.px-lg-5
				.row.gx-4.gx-lg-5.justify-content-center
					.col-md-10.col-lg-8.col-xl-7
						p
							| La ley de conservación de la materia, conocida también como ley de conservación de la masa o simplemente como ley Lomonósov-Lavoisier (en honor a los científicos que la postularon), es un principio de la química que plantea que la materia no se crea ni se destruye durante una reacción química, solo se transforma.
							| Esto significa que las cantidades de las masas involucradas en una reacción determinada deberán ser constantes, es decir, la cantidad de reactivos consumidos es igual a la cantidad de productos formados, aunque se hayan transformado los unos en los otros.
						p
							| Este principio fundamental de las ciencias naturales fue postulado por dos científicos de manera simultánea e independiente: el ruso 
							a(href="https://es.wikipedia.org/wiki/Mija%C3%ADl_Lomon%C3%B3sov" target="_blank") Mijaíl Lomonósov 
							| en 1748 y el francés 
							a(href="https://es.wikipedia.org/wiki/Antoine_Lavoisier" target="_blank") Antoine Lavoisier 
							| en 1785. Llama la atención que esto ocurriera antes del descubrimiento del átomo y la postulación de la teoría atómica, con la cual es mucho más sencillo explicar e ilustrar el fenómeno.
						p
							| La excepción a la regla la constituyen las reacciones nucleares, en las que es posible convertir masa en energía y viceversa.
						p
							| Junto a la equivalencia entre masa y energía, la ley de la conservación de la materia fue clave para la comprensión de la química contemporánea.
						p
							| Un perfecto ejemplo de esta ley lo constituye la combustión de hidrocarburos, en la que puede verse al combustible arder y “desaparecer”, cuando en realidad se habrá transformado en gases invisibles y agua.
							| Por ejemplo, al quemar metano (CH4) tendremos la siguiente reacción, cuyos productos serán agua y gases invisibles, pero de una cantidad de átomos idéntica que los reactivos:
						img.img-fluid(src='https://concepto.de/wp-content/uploads/2018/01/Picture1.png')
						span.caption.text-muted
							| Ejemplo de la conservación de la materia.
						p
							|	Información apoyada en 
							a(href='https://concepto.de/ley-de-conservacion-de-la-materia/' target='_blank') Conservación de la materia

		include includes/footer.pug

		include includes/scripts.pug