doctype html
html(lang='en')

	head

		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description' content='')
		meta(name='author' content='')

		include includes/title.pug

		link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

		include includes/css.pug

	body

		include includes/navbar.pug

		// Page Header
		header.masthead(style="background-image: url('assets/img/post-bg.jpg')")
			.container.position-relative.px-4.px-lg-5
				.row.gx-4.gx-lg-5.justify-content-center
					.col-md-10.col-lg-8.col-xl-7
						.post-heading
							h1 Conclusión
							h2.subheading
								| Y Despedida
							span.meta
								| Posteado por
								a(href='#!') Dylan Buitrago 
								| en Noviembre, 2022

		// Post Content
		article.mb-4
			.container.px-4.px-lg-5
				.row.gx-4.gx-lg-5.justify-content-center
					.col-md-10.col-lg-8.col-xl-7
						p
							| Ha sido un largo camino a lo largo de los artículos realizados en este blog, hemos recorrido desde la definición y origen de la física, hasta conceptos fundamentales como lo son la materia. Y la verdad es que no es más que solo la punta del iceberg, pero más nada con este pequeño recorrido no nos queda duda alguna de la importancia de la química.
						p
							| Algunos podrán creer que es una ciencia aparte, separada de las demás en cierto punto, pues bien, no es más que un pensamiento errado. Como vimos en nuestro primer artículo, la química es el  padre muchas otras ramas científicas, es sin duda la ciencia central por su conexión con la mayoría de las otras ramas científicas.
						p
							| La química se encuentra presente en el día a día incluso para aquellos ajenos a la investigación científica, pues bien, ellos no escapan del uso de pastillas o mezclas, las cuales existen gracias a años de ardua investigación y experimentación. Uno de los aspectos más fascinantes de ella, es el hecho de ser una ciencia práctica por definición, no es de aquellas que quedan en la teoría. Sin duda me ha fascinado, ha despertado mi curiosidad y espero que suceda lo mismo con cualquiera que lea este blog.
						p
							| Sin ninguna otra acotación me despido y recuerden:
						blockquote.blockquote
							| Cuando se encendieron unas ramas secas, quizás por accidente, los antiguos seres humanos se asustaron. Luego, se acercaron a investigar preguntándose por esos colores que se movían y generaban calor y luz, allí nacio la química.

		include includes/footer.pug

		include includes/scripts.pug