doctype html
html(lang='en')

	head

		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description' content='')
		meta(name='author' content='')

		include includes/title.pug

		link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

		include includes/css.pug

	body

		include includes/navbar.pug

		// Page Header
		header.masthead(style="background-image: url('assets/img/post-bg.jpg')")
			.container.position-relative.px-4.px-lg-5
				.row.gx-4.gx-lg-5.justify-content-center
					.col-md-10.col-lg-8.col-xl-7
						.post-heading
							h1 La materia
							h2.subheading Qué es y sus propiedades
							span.meta
								| Posteado por
								a(href='#!') Dylan Buitrago 
								| en Noviembre, 2022

		// Post Content
		article.mb-4
			.container.px-4.px-lg-5
				.row.gx-4.gx-lg-5.justify-content-center
					.col-md-10.col-lg-8.col-xl-7
						p
							| En nuestro artículo anterior hablamos como por medio de la historia y diferentes experimentos se confirmó que era posible separarla en partículas más pequeñas que llamamos átomos. De ese modo confirmar que la materia es divisible, pero que es en sí la materia
						h2.section-heading ¿Qué es?
						p
							| La materia es todo lo que tiene masa y ocupa un lugar en el espacio, aunque no la veas, por ejemplo, el aire tiene masa así no lo sientas "pesado" encima de ti. Todo lo que existe en el universo es materia, tu cuerpo y la ropa que llevas puesta.
							| La materia tiene propiedades que son generales y específicas.
						h2.section-heading Propiedades 
						h3.section3-heading 1. Generales
						p
							| #[b Extensión:] Todos los cuerpos ocupan un lugar en el espacio. El lugar que ocupa un cuerpo es su volumen.
						p
							| #[b Impenetrabilidad:] Como cada cuerpo ocupa un lugar en el espacio, su lugar no puede ser ocupado al mismo tiempo por otro cuerpo.
						p
							| #[b Inercia:] Consiste en la tendencia que tienen los cuerpos de continuar en su estado de reposo o movimiento en que se encuentran si no hay una fuerza que los cambie.
						p
							| #[b Masa:] Es la cantidad de materia contenida en un volumen cualquiera, la masa de un cuerpo es la misma en cualquier parte de la Tierra o en otro planeta.
						p
							| #[b Peso:] Es la acción de la gravedad de la Tierra sobre los cuerpos. En los lugares donde la fuerza de gravedad es menor, por ejemplo, en una montaña o en la Luna, el peso de los cuerpos disminuye.
						p
							| #[b Divisibilidad:] Es la propiedad que tiene cualquier cuerpo de poder dividirse en pedazos más pequeños, hasta llegar a las moléculas y los átomos.
						p
							| #[b Porosidad:] Como los cuerpos están formados por partículas diminutas, éstas dejan entre sí espacios vacíos llamados poros.
						p
							| #[b Elasticidad:] Propiedad que tienen los cuerpos de cambiar su forma cuando se les aplica una fuerza adecuada y de recobrar la forma original cuando se suspende la acción de la fuerza. La elasticidad tiene un límite, si se sobrepasa el cuerpo sufre una deformación permanente o se rompe. Hay cuerpos especiales en los cuales se nota esta propiedad, como en una liga, en la hoja de un cuchillo; en otros, la elasticidad se manifiesta poco, como en el vidrio o en la porcelana.
						h3.section3-heading 2. Especificas
						p
							| #[b Densidad:] La densidad es una propiedad específica de la materia que nos permite diferenciar unos materiales de otros. Mide, en cierto modo, lo concentrada que esta la masa de un cuerpo. La densidad es la relación que existe entre la masa y el volumen de un cuerpo. Densidad = masa / volumen
						p
							| #[b Punto de fusión:] Fusión es el proceso por el que una sustancia sólida al calentarse se convierte en líquido. Es el proceso inverso a la solidificación.
						p
							| #[b Brillo:] Es el aspecto que ofrece la superficie de un mineral al reflejar la luz. El brillo puede ser:
						ul
							li
								| Metálico: semejante al que tiene un metal.
							li
								|	Adamantino: como el de los diamantes.
							li
								|	Nacarado: parecido al del nácar de las perlas.
							li
								|	Vítreo: como el del vidrio de las ventanas.
						p
							| #[b La dureza:] Es la oposición que presentan los materiales a ser rayados. El vidrio y el diamante son materiales duros, pues es difícil rayarlos. El yeso, por el contrario, es un material más blando; se raya con facilidad
						p
							| #[b Punto de Ebullición:] La ebullición comienza cuando al calentar un líquido aparecen burbujas de gas en toda sumasa. Esto ocurre a una temperatura fija para cada sustancia.
						h2.section-heading Clasificación
						img.img-fluid(src='https://www.clasificacionde.org/wp-content/uploads/2017/12/Clasificaci%C3%B3n-de-la-materia.jpg' alt='Clasificación de la materia')
						span.caption.text-muted
							| Mapa mental de la clasifación de la materia
						h3.section3-heading Según su forma
						p
							| #[b Mezcla homogénea:] son  aquellas donde la composición de sus componentes está igualmente mezclada. Dentro de una mezcla homogénea la sustancia o el soluto, se diluye totalmente en otra sustancia diferente, el solvente, se logra llamar solución.
						p
							| Unos de los ejemplos particulares de las mezclas homogéneas es el agua de azúcar, la mezcla del hidrato de carbono en agua y la gasolina que se logra mezclar con docenas de compuestos químicos y naturales.
						p
							| #[b Mezcla heterogénea:] Una mezcla heterogénea se conoce como una mezcla no semejante, donde los componentes se logran separar y la contextura varía.
						p
							| #[b Mezcla coloidal:] son mezclas homogéneas donde las partículas son lo suficientemente pequeñas para permanecer suspendidas. 
						img.img-fluid(src='https://www.caracteristicass.de/wp-content/uploads/2018/05/caracteristicas-de-los-coloides.jpg' alt='Coloide')
						span.caption.text-muted Coloide
						h3.section3-heading Según separación de mezclas
						p
							| #[b Por magnetismo:] Un ejemplo particular es la separación de la mezcla del hierro y el azufre que se logra separar rápidamente al utilizar un imán, ya que los trozos de hierro son atraídos por el imán situado en la mezcla, extrayendo por completo el hierro del azufre. 
						p
							| #[b Por destilación o filtración:] A través de este procedimiento, un sólido se distancia de un líquido al ser transportado a una barrera de poros finos, por ejemplo el papel de filtro. Otro ejemplo particular es la arena y el agua que se logran separar por medio de este proceso.
						h3.section3-heading Según sus estados físicos
						p
							| #[b Líquido:] Este estado se da cuando la temperatura de una muestra o sustancia aumenta por arriba del punto de disolución de un sólido.
						p
							| #[b Sólido:] Este estado se da cuando la temperatura de un líquido decae al punto de entumecimiento de la sustancia.
						p
							| #[b Gaseoso:] En este estado, la materia no posee un volumen o forma fija. Esto suele ocurrir porque los átomos están completamente separados con los espacios entre las partículas.
						p
							|	Información apoyada en 
							a(href='https://drive.google.com/file/d/0Byt88A0GyKlGaFhiLUUwcXFLTE0/view?resourcekey=0-xNe-R2Fl59ZbIqwH0ZwJYg' target='_blank') La Materia
							| &middot;
							a(href='https://www.clasificacionde.org/clasificacion-de-la-materia/' target='_blank') Clasificación
						

		include includes/footer.pug

		include includes/scripts.pug